body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #093545;
  position: relative;
  background-image: url("./assets/wave_bg.png"); /* Replace with your image path */
  background-size: 100%; /* Keeps the original size of the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100vh;
  background-position: bottom center;
  overflow: hidden;
}

input::placeholder {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
